// main header container
.hdr-container{
    height: 75vh;
        @media screen and (max-width: 768px) {
        height: 90vh;
    }
     @media screen and (max-height: 728px) {
        height: 90vh;
    }
}

// header with background image 
.home-hdr {
    background-image: url("../img/hdr-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 80vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    img {
        width: 100%;
    }

    h1, h2{
        text-transform: uppercase;
        font-weight: 700;
        text-shadow: -5px 6px 5px rgba(0,0,0,0.2);
    }

    @media screen and (max-width: 768px){
        height: 90vh;

    }
    @media screen and (max-width: 576px){
        height: 100vh;

    }
    @media screen and (max-height: 728px) {
        height: 100vh;
        img {
            width: 80%;
        }
    }
}

.hero-text {
    width: 100%;
    color: white;
    padding-bottom: 3.5em;
}

@media screen and (max-width: 768px) {
.home-hdr {
        text-align: center;
    }
    .hero-text{
        padding-bottom: 0;
    }
    .container-lg {
        padding-left: 0;
        padding-right: 0;
    }
        img{
            width: 230px;
        }
        
    }

@media screen and (max-width: 991px) {
        
    .nav-bg {
        background-color: transparent;
    }
    .nav-bg{
        background-color: $secondary;
    }
}

.scrolled {
    background-color: $secondary;
}