.home-signup-form {
  position: relative;
  margin-top: -100px;

  @media screen and (max-width: 768px) {
    margin-top: -15vh;
  }
}

.about, .donate {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  line-height: 2rem;
  place-items: center;
  justify-content: space-between;
  margin-top: 10rem;
  margin-bottom: 4rem;

  .about-img {
      grid-column: span 4;
  }

  .about-text {
      grid-column: 6 / span 5;
      text-align: justify;
  }

  .donate-img {
      grid-column: span 4;
      order: 1;
  }

  .donate-text {
      grid-column: 2 / span 4;
      margin-right: 2rem;
      text-align: justify;
  }

  span {
      text-align: left;
    font-weight: 700;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
  }
  span::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 3rem;
    width: 100%;
    height: 10px;
    background: $primary;
    transition: all 0.8s;
    transition-delay: 0.4s;
  }
  img {
    width: 100%;
  }

  @media screen and (max-width: 850px) {
    .about-text {
      grid-column: span 6;
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 5rem;

    span::after {
      top: 2.5rem;
    }
    .about-img,
    .donate-img,
    .about-text,
    .donate-text {
       grid-column: 2 / span 8;
    }
    .donate-img {
        order: 0;
    }
  }
}

.donate {
    margin-top: 2rem;
}

.card {
  border: none;
}

figure {
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  width: 100%;

  h4 {
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 3rem 1rem 0.5rem 1rem;
    text-transform: uppercase;
  }
}
