body {
  position: relative;
}
// Hero Section Form styles for Postion
.home-signup-form {
  position: relative;
  margin-top: -100px;

  @media screen and (max-width: 768px) {
    margin-top: -15vh;
  }
}

[id]:target::before,
[name]:target::before
{
    display: block;
    height: 50px;
    margin-top: -50px;

    content: '';
}

// Grid styles for
// - Home page About Section, Support Section
// - Why Running Page Content

.about, .donate, .why-running {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  line-height: 2rem;
  place-items: center;
  justify-content: space-between;
  margin-top: 10rem;
  margin-bottom: 4rem;
  p {
      text-align: justify;
  }

  .about-img {
      grid-column: span 4;
  }

  .about-text {
      grid-column: 6 / span 5;
  }

  .donate-img {
      grid-column: span 4;
      order: 1;
  }

  .donate-text {
      grid-column: 2 / span 4;
      margin-right: 2rem;
  }

  .why-running-text {
      grid-column: 2 / span 5;
      margin-right: 2rem;
  }
  .why-running-img {
      grid-column: 7 / span 3;
  }

  // underline effect
span {
  text-decoration: none;
  background-image: linear-gradient($primary, $primary);
  background-repeat: no-repeat;
  background-position: 0 2.5rem;
  background-size: 100% 10px;
  transition: background-size 500ms ease-in-out;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

span:hover {
  background-size: 10% 10px;
  color: inherit;
}

  img {
    width: 100%;
  }

  // large breakpoint
   @media screen and (max-width: 1200px) {
    .donate-text {
      grid-column: span 6;
    }

    .why-running-text {
      grid-column: span 5;
      margin-right:0
  }
    .why-running-img {
      grid-column: 7 / span 4;
  }

  }

  // medium breakpoint
  @media screen and (max-width: 850px) {
    .about-text {
      grid-column: span 6;
    }

    .why-running-text {
      grid-column: 2 / span 8;
  }
    .why-running-img {
        grid-column: 2 / span 8;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
  }
  }

  // tablet breakpoint
  @media screen and (max-width: 768px) {
    margin-top: 5rem;

    .about-img,
    .donate-img,
    .about-text,
    .donate-text {
       grid-column: 2 / span 8;
    }
    .donate-img {
        order: 0;
    }
  }

  // mobile breakpoint
    @media screen and (max-width: 550px) {

    .about-img,
    .donate-img,
    .about-text,
    .donate-text {
       grid-column: span 10;
       padding: 0 0.5rem
    }
    .donate-img {
        order: 0;
    }
    .why-running-img {
        grid-template-columns: 1fr;
    }
  }
}

// special margin
.donate {
    margin-top: 2rem;
}

.why-running {
    margin-top: 3rem;
}

// remove Boostrap card border
.card {
  border: none;
}

// card title

figure {
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  width: 100%;

  h4 {
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 3rem 1rem 0.5rem 1rem;
    text-transform: uppercase;
  }
}

// Stars Header background
.star-header {
    background-image: url("../img/star-pattern.svg");
    text-shadow:  0 .5rem 0.75rem rgba($secondary, .15);;
}

// Support Component Background
.support {
    background-image: url("../img/support-bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

// Footer for all pages
footer {
    padding-top: 5rem;
    
    .copy {
        color: rgba(255, 255, 255, 0.5);
        padding-top: 5rem;
        padding-bottom: 0.5rem;
        font-size: 0.8rem;
    }

}
